<input type="checkbox" id="active" />
<label for="active" class="menu-btn"><i class="fas fa-bars"></i></label>
<div class="wrapper">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="https://dev-watcher.netlify.app/" target="_blank">About</a></li>
    <li><a href="https://github.com/FranciscoAcosta-ctrl" target="_blank">Git</a></li>
  </ul>
</div>
