<input type="checkbox" id="active" />
<label for="active" class="menu-btn"><i class="fas fa-bars"></i></label>
<div class="wrapper">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/code">Git</a></li>
  </ul>
</div>
